<!DOCTYPE html>
<html lang="en">
<head>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



    <link href="css/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Scoretracker</title>
</head>
<body ng-app="Scoretracker">

    <div class="header">
        <h1 class="logo">Scoretracker</h1>
    </div>


    <div class="main" ng-controller="MainController">

        <form ng-submit="newPlayer()" class="form-group container">
            <input type="text" class="form-control" ng-model="newPlayerName">
            <input class="btn-primary" type="submit" value="Add Player">
        </form>

        <div class="container">
            <div class="row">
                <div class="col-sm-4" ng-repeat="score in scores">
                    <div class="row scorecard">
                        <p class="playerName"> {{ score.name }} </p>
                        <div class="points">
                            <h2>
                                <button class="btn btn-danger" ng-click="decreaseScore($index)">-</button>
                                {{ score.score }}
                                <button class="btn btn-success" ng-click="increaseScore($index)">+</button>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--Modules-->
    <script src="js/app.js"></script>

    <!--Controllers-->
    <script src="js/controllers/MainController.js"></script>

    <!-- jQuery (for Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

</body>
</html>